*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: rgb(231, 213, 196);
}
img{
    width: 100%;
}
.header-hr{
    display: none;
}
.btn{
    border: none;
    padding: 5px;
    transition: 0.3s;
}
.btn:hover{
    color: rgb(183, 210, 30);
    background-color: chocolate;
}
/* common code endsa  */

/* header start  */
#header{
    /* background-color: rgb(206, 191, 177); */
    height: 20vh;
}
.header-top-menu{
    display: flex;
    flex: 4;
}
.nav-head-name{
    padding: 10px;
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
.nav-head-name span{
    color: rgb(39, 135, 148);
}
.nav-menu{
    flex: 2;
    padding: 20px;
}
.nav-menu ul{
    display: flex;
    justify-content: space-around;
}
.nav-menu ul li a{
    color: #000000;
    font-size: 1.2rem;
}
.nav-menu ul li a:hover{
    color: #5a80fd;
    text-decoration: underline;
}
.register{
    flex: 1;
    padding: 20px;
}
.register a{
    font-size: 1.3rem;
    margin: 0 1rem;
    padding: 5px;
    color: rgb(170, 52, 37);
}
.register a:hover{
    background-color: rgb(233, 101, 48);
    color: #fff;
    border-radius: 5px;
}
/* header ends  */



/* main start  */
/* main banner start  */
#main{
    
}
.nain-banner-section{
    display: flex;
    flex: 2;
}
.main-header-details{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    margin-left: 2rem;
    gap: 3rem;
}
.main-header-details .btn{
    width: 30%;
}
.main-header-details h1{
    font-size: 3.5rem;
}
.contuct-section{
    flex: 1;
}
.contuct{
    display: flex;
    flex-direction: column;
    box-shadow: 0.6rem 0.6rem 2rem gray;
    gap: 0.5rem;
    width: 80%;
    padding: 40px;
    margin-top: 100px;
    font-size: 1.5rem;
}
#about-me{
    width: 80%;
    height: 40vh;
    text-align: justify;
    margin: auto;
}
.about-me{
    margin-top: 100px;
}
.about-me h1{
    text-align: center;
    margin: 30px;
}
/* main banner endas */
/* main neds  */


/* footer start  */
#footer{
    background: #000;
}
.contuct-logo{
    display: flex;
    padding: 2rem 0;
    gap: 3rem;
    justify-content: center;
}
.contuct-logo a{
    color: #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.contuct-logo a:hover{
    background-color: #3b76e4;
}
.contuct-logo a i{
    font-size: 1.3rem;
}
#footer .nav-menu ul li a{
    color: white;
}
#footer h5{
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}
/* footer ends  */




/* responcib  */
@media (max-width:920px){
    .contuct{
        width: 95%;
    }
    #about-me{
        height: auto;
    }
}
@media (max-width:740px) {
    #header{
        height: 60vh;
    }
    .header-hr{
        display: block;
    }
    .header-top-menu{
        flex-direction: column;
    }
    .nav-menu ul{
        gap: 1.7rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .register{
        margin: auto;
    }
    .nav-head-name{
        text-align: center;
    }
    .nain-banner-section{
        flex-direction: column;
    }
    .food-img-banner{
        display: none;
    }
    .main-header-details .btn{
        width: 80%;
        margin: 0 auto;
    }
    .contuct{
        width: 90%;
        margin: auto;
        padding: 40px;
        margin-top: 100px;
    }
    
    #about-me{
        height: auto;
    }
}